<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="style/main.css">
    <title>Notes</title>
</head>
<body>

<div id="app">
    <header>
        <img :src="logo" alt="Логотип">
        <h1 class="header_text">{{ header }}</h1>
    </header>

    <main>





        <div class="all-columns">
            <div class="columns column1">
                <h2 class="column-title">New</h2>
                <input class="input" v-model="currentNote" type="text" @keyup.enter="addNote">

                <ul class="list" v-for="note in notes">
                    <li class="cart" v-if="note.isDoing === false && note.isCompleted === false">
                        <h4>{{note.text}}</h4>
                        <button @click="note.isDoing = true">=></button>
                        <button @click="deleteNote(note.text)" class="delete">X</button>
                    </li>
                </ul>
            </div>
            <div class="columns column2">
                <h2 class="column-title">In progress</h2>
                <ul class="list" v-for="note in notes" >
                    <li class="cart" v-if="note.isDoing === true && note.isCompleted === false">
                        <h4>{{note.text}}</h4>
                        <button @click="note.isCompleted = true">✓</button>
                        <button @click="deleteNote(note.text)" class="delete">X</button>
                    </li>
                </ul>
            </div>
            <div class="columns column3">
                <h2 class="column-title">Done</h2>
                <ul class="list" v-for="note in notes" >
                <li class="cart" v-if="note.isDoing === true && note.isCompleted === true">
                    <h4>{{note.text}}</h4>

                </li>
                </ul>
            </div>
        </div>



    </main>


</div>

</body>
</html>