*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: pink;
    height: 70px;
    margin-bottom: 10px;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.header_content{
    display: flex;
    flex-direction: row;
    gap: 500px;
    align-items: center;
}

.header_content h2{
    font-size: 40px;
    color: white;
}

.header_content img{
    width: 30px;
    height: 30px;
    background-color: white;
    color: white;
}

.li{
    list-style-type: none;
}

.column{
    min-width: 400px;
    min-height: 600px;
    text-align: center;
    border-radius: 10%;
}

.columnNew{
    background-color: #47cedf;

}

.columnProcess{
    background-color: #c9fe60;

}

.columnDone{
    background-color: #59ffa6;

}

.card{
    margin-bottom: 30px;
}

.buttonDelete{
    padding: 4px;
    border: 0;
    color: white;
    margin-top: 10px;
    background-color: red;
}

.buttonAdd{
    padding: 4px;
    border: 0;
    color: white;
    margin-top: 10px;
    background-color: green;
}




